.podcast-card {
  position: absolute;
  transition: transform 0.3s ease-out;
  cursor: pointer;
}

.podcast-card:hover {
  transform: translateX(20px);
  z-index: 100;
  cursor: pointer;
}

.podcast-card .guest-name {
  opacity: 0;
  transition: opacity 0.3s ease-out;
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-size: 1.5rem;
}

.podcast-card:hover .guest-name {
  opacity: 1;
}
